/*--------------------------------------------------------------------
* $BASE - For non-home pages
--------------------------------------------------------------------*/

*, *:before, *:after
  box-sizing: border-box

::selection
  background: $black
  color: white

html
  overflow: hidden

body
  height: 100%
  overflow: hidden
  background-color: $black
  font-family: $font-family-helvetica
  font-weight: $font-weight-light
  font-size: 112.5%
  line-height: 1.4
  color: $black
