/*--------------------------------------------------------------------
* $FEATURE
--------------------------------------------------------------------*/

$img-w = 550px
$img-h =670px
$feature-w =500px

.feature
  width: $feature-w
  min-height: $img-h
  height: $img-h
  position: absolute
  left: 0
  top: 0
  overflow: hidden
  z-index: 1
  background-color: $gold

  h1, h2
    position: fixed
    z-index: 10
    left: 10px

  h1
    top: 10px

  h2
    top: 40px

  .david-rose
    width: $img-w
    height: $img-h
    position: fixed
    left: -15px
    top: 0
    z-index: 0

  .shirt
    width: $feature-w
    height: $img-h
    position: relative
    z-index: 1
    
    img
      width: $img-w
      height: $img-h
      position: absolute
      left: -15px
      top: 0
      z-index: 2

    .prev,
    .next
      width: 25px
      height: 50px
      position: absolute
      bottom: 35%
      z-index: 3
      text-indent: -9999em
      background: no-repeat center center
      background-size: 80% auto
      
      &:focus
        background-color: black(.2)
        outline: none

    .prev
      left: 2%
      background-image: url('/assets/images/arrow-left.svg')
    .next
      right: 2%
      background-image: url('/assets/images/arrow-right.svg')

  figcaption
    font-size: 80%
    font-weight: $font-weight-bold
    position: absolute
    bottom: 10px
    left: 400px
