/*--------------------------------------------------------------------
* $FEATURE
--------------------------------------------------------------------*/

.feature
  width: var(--feature-w)
  min-height: var(--img-h)
  height: var(--img-h)
  position: absolute
  left: 0
  top: 0
  overflow: hidden
  z-index: 1
  background-color: $gold

  h1, h2, #share
    position: fixed
    z-index: 10

  h1
    top: 10px
    left: 10px

  h2
    left: 10px

    @media screen and (min-width: $mobile + 1)
      top: 40px
    @media screen and (max-width: $mobile)
      top: 30px

  #share
    padding-right: 20px
    display: inline-block
    top: 13px
    background-image: url('/assets/images/icon-twitter.svg')
    background-repeat: no-repeat
    background-position: right center
    background-size: 16px auto
    border-bottom: none

    @media screen and (min-width: $mobile + 1)
      left: 430px
      font-size: 85%
    @media screen and (max-width: $mobile)
      right: 10px
      font-size: 80%

  .david-rose
    width: var(--img-w)
    height: var(--img-h)
    position: fixed
    z-index: 0

  .david-rose,
  .shirt img
    top: 0
    @media screen and (min-width: $mobile + 1)
      left: -15px
    @media screen and (max-width: $mobile)
      left: 50%
      transform: translateX(-47%)

  .shirt
    width: var(--feature-w)
    height: var(--img-h)
    position: relative
    z-index: 1
    
    img
      width: var(--img-w)
      height: var(--img-h)
      position: absolute
      z-index: 2

  .prev,
  .next
    width: 25px
    height: 50px
    position: absolute
    bottom: 35%
    z-index: 3
    text-indent: -9999em
    background: no-repeat center center
    background-size: 80% auto
    
    &:focus
      background-color: black(.2)
      outline: none

  .prev
    left: 2%
    background-image: url('/assets/images/arrow-left.svg')
  .next
    right: 2%
    background-image: url('/assets/images/arrow-right.svg')

  figcaption
    font-weight: $font-weight-bold
    position: absolute
    bottom: 10px

    @media screen and (min-width: $mobile + 1)
      left: 400px
      font-size: 80%
    @media screen and (max-width: $mobile)
      right: 20px
      font-size: 70%
