/*--------------------------------------------------------------------
* $GALLERY
--------------------------------------------------------------------*/

.gallery
  width: 100vw
  height: calc(100vh - var(--img-h))
  padding: 10px
  position: fixed
  right: 0
  top: var(--img-h)
  overflow: scroll
  display: grid
  background: white
  text-align: center
  z-index: 2

  @media screen and (min-width: $mobile + 1)
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))
  @media screen and (max-width: $mobile)
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr))

  // right side
  @media screen and (min-width: $mobile + 1) and (max-height: $tall)
    width: calc(100vw - var(--feature-w))
    height: 100vh
    top: 0

  // wide + shortish screens
  @media screen and (min-width: $mobile + 1) and (min-height: $tall + 1) and (max-height: $tall + 160)
    min-height: 150px
    overflow-x: scroll
    overflow-y: hidden
    display: flex
    align-items: center

    .gallery-shirt
      display: inline-block
      flex-shrink: 0

  // wide + med screens: horiz gallery
  @media screen and (min-width: $mobile + 1) and (min-height: $tall + 1) and (max-height: $tall + 90)
    .gallery-shirt
      width: 150px
  @media screen and (min-width: $mobile + 1) and (min-height: $tall + 91) and (max-height: $tall + 160)
    .gallery-shirt
      width: 220px

  // middle + shortish screens
  @media screen and (max-width: $mobile) and (max-height: $med + 90)
    min-height: 150px
    overflow-x: scroll
    overflow-y: hidden
    display: flex
    align-items: center

    .gallery-shirt
      width: 100px
      display: inline-block
      flex-shrink: 0

  @media screen and (max-width: $mobile) and (min-height: $short - 100) and (max-height: $short)
    .gallery-shirt
      width: 150px
  @media screen and (max-width: $mobile) and (min-height: $med + 1) and (max-height: $med + 90)
    .gallery-shirt
      width: 150px

  .gallery-shirt
    padding: 10px

  img
    width: 100%

  figcaption
    font-weight: $font-weight-bold
    font-size: 65%
    margin-top: -15px

  a
    text-decoration: none
    color: $black
    
    &:hover,
    &:focus
      background-color: $grey-lightest

  button:focus
    outline: 2px solid $black

  #gallery-filters
    display: none

body.js-ready

  .gallery
    padding-top: 40px

  .gallery-shirt
    display: none
    
    &.show
      display: block

  #gallery-filters
    width: var(--feature-w)
    margin-top: var(--img-h)
    margin-bottom: 10px
    display: flex
    position: fixed
    top: 0
    right: 0
    background-color: white
    border-bottom: 2px solid $black
    font-size: 80%

    @media screen and (min-width: $mobile + 1) and (max-height: $tall)
      width: calc(100vw - 500px)
      margin-top: auto

  .filter
    margin: 5px
    padding: 4px 8px
    flex: 1
    background-color: $grey-lightest
    border: none
    font-size: 90%
    text-align: left
    cursor: pointer

    &:not(:last-child)
      margin-right: 0

    &:not(.active):hover
      background-color: $black
      color: white

    &.active
      padding-left: 25px
      background-color: $gold
      background: $gold url('/assets/images/icon-check.svg') no-repeat 8px center
      background-size: 12px auto
