/*--------------------------------------------------------------------
* $GALLERY
--------------------------------------------------------------------*/

.gallery
  padding: 10px
  position: fixed
  right: 0
  top: 0
  z-index: 2
  background: white
  text-align: center

  @media screen and (min-width: 951px)
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  @media screen and (min-width: $mobile + 1) and (max-width: 950px)
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr))

  @media screen and (min-width: $mobile + 1)
    width: calc(100vw - 500px)
    height: 100vh
    overflow: scroll
    display: grid
  @media screen and (max-width: $mobile)
    width: 100vw
    height: 150px
    margin-top: 480px
    overflow-x: scroll
    overflow-y: hidden
    display: flex

    .gallery-shirt
      display: inline-block
      width: 100px
      height: 100px
      flex-shrink: 0

  .gallery-shirt
    padding: 10px

  img
    width: 100%

  figcaption
    font-weight: $font-weight-bold

    @media screen and (min-width: $mobile + 1)
      margin: -20px 0 30px
      font-size: 70%
    @media screen and (max-width: $mobile)
      margin: -15px 0 0
      font-size: 60%

  a
    text-decoration: none
    color: $black
    
    &:hover,
    &:focus
      background-color: $grey-lightest

  button:focus
    outline: 2px solid $black

  #gallery-filters
    display: none

body.js-ready

  .gallery
    @media screen and (min-width: $mobile + 1)
      padding-top: 50px
    @media screen and (max-width: $mobile)
      padding-top: 35px

  .gallery-shirt
    display: none
    
    &.show
      display: block

  #gallery-filters
    margin-bottom: 10px
    position: fixed
    top: 0
    right: 0
    background-color: white
    border-bottom: 2px solid $black
    font-size: 80%
    text-align: right

    @media screen and (min-width: $mobile + 1)
      width: calc(100vw - 500px)
      display: block

    @media screen and (max-width: $mobile)
      width: var(--feature-w)
      display: flex
      margin-top: var(--img-h)

      .filter
        flex: 1
        font-size: 80%

  .filter
    margin: 5px
    padding: 5px 8px
    background: white
    border: none
    cursor: pointer
    font-size: 100%
    background-color: $grey-lightest
    text-align: left

    &:not(:last-child)
      margin-right: 0

    &:not(.active):hover
      background-color: $black
      color: white

    &.active
      padding-left: 25px
      background-color: $gold
      background: $gold url('/assets/images/icon-check.svg') no-repeat 8px center
      background-size: 12px auto
