extends layout

block vars
  - var pageTitle = '404'
  - var pageDescription = 'Page not found.'
  - var bodyClass = 'fourohfour'

block content

  .container
    h1 Ew, David!
    p There’s nothing here. Head back #[a(href='/') home].
    p 🌹
