extends layout

block vars
  - var pageTitle = '404'
  - var pageDescription = 'Page not found.'
  - var bodyClass = 'fourohfour'

block content

  .container
    small 🌹
    h1 Best wishes and warmest regards!
    p There’s nothing here. Try heading #[a(href='/') home].
