extends layout

block vars
  - var pageTitle = ''
  - var pageDescription = ''

mixin feature(prev,anchor,next,alt)
  .shirt(id=anchor)
    a.prev(href='#' + prev) Prev
    img(src='/assets/images/feature/' + anchor + '.svg', alt=alt)
    a.next(href='#' + next) Next

mixin gallery(season,anchor,episode,alt)
  .gallery-shirt(class='season-' + season)
    a(href='#' + anchor)
      img(src='/assets/images/gallery/' + anchor + '.svg', alt=alt)
      figcaption= episode

block content

  nav.gallery

    nav#gallery-filters
      button.filter.active#filter-all(onclick="filterSelection('all')") All seasons
      button.filter#filter-s1(onclick="filterSelection('season-1')") S01
      button.filter#filter-s2(onclick="filterSelection('season-2')") S02
      button.filter#filter-s3(onclick="filterSelection('season-3')") S03
      button.filter#filter-s3(onclick="filterSelection('season-4')") S04
      button.filter#filter-s3(onclick="filterSelection('season-5')") S05
      button.filter#filter-s3(onclick="filterSelection('season-6')") S06

    +gallery('1','s01e01-01','S01 E01','black sweater, leather elbows')
    +gallery('1','s01e01-02','S01 E01','black leather jacket')
    +gallery('1','s01e01-03','S01 E01','black zip-up hoodie')
    +gallery('1','s01e01-04','S01 E01','white t-shirt, black beanie')
    +gallery('1','s01e02-01','S01 E02','black crewneck sweater')
    +gallery('1','s01e02-02','S01 E02','black sweater with zipper collar')
    +gallery('1','s01e02-03','S01 E02','white long sleeve, black beanie, headphones')
    +gallery('1','s01e03-01','S01 E03','white long sleeve')
    +gallery('1','s01e03-02','S01 E03','white crewneck sweater')
    +gallery('1','s01e03-03','S01 E03','white crewneck sweater')
    +gallery('1','s01e03-04','S01 E03','grey knit sweater with green smock on top')
    +gallery('1','s01e04-01','S01 E04','black polo with white stars at the collar')
    +gallery('1','s01e04-02','S01 E04','short sleeve oxford with scribbly line pattern')
    +gallery('1','s01e04-03','S01 E04','black zip-up hoodie')
    +gallery('1','s01e05-01','S01 E05','long black hoodie')
    +gallery('1','s01e05-02','S01 E05','black crewneck sweater')
    +gallery('1','s01e05-03','S01 E05','white t-shirt')
    +gallery('1','s01e06-01','S01 E06','slouchy black knit sweater')
    +gallery('1','s01e06-02','S01 E06','white t-shirt')
    +gallery('1','s01e06-03','S01 E06','black zip-up hoodie, black beanie')
    +gallery('1','s01e07-01','S01 E07','chunky white knit sweater')
    +gallery('1','s01e07-02','S01 E07','camoflage jacket')
    +gallery('1','s01e08-01','S01 E08','khaki oxford with cowl')
    +gallery('1','s01e09-01','S01 E09','black zip-up hoodie with zip sleeves')
    +gallery('1','s01e09-02','S01 E09','white oxford with marble pattern')
    +gallery('1','s01e09-03','S01 E09','black sweater with two beige stripes at collar')
    +gallery('1','s01e10-01','S01 E10','black oxford with roses pattern')
    +gallery('1','s01e11-01','S01 E11','white sweater with black and grey flowers')
    +gallery('1','s01e12-01','S01 E12','white polo with black stars at the collar')
    +gallery('1','s01e12-02','S01 E12','black sweater with diagonal white and grey color blocks')
    +gallery('1','s01e12-03','S01 E12','dress shirt, tie, and jacket')
    +gallery('1','s01e13-01','S01 E13','black sweater with leather shoulders')

    +gallery('2','s02e01-01','S02 E01','black hoodie with furry hood')
    +gallery('2','s02e01-02','S02 E01','grey sweater with text “LOVE ME TENDER”')
    +gallery('2','s02e02-01','S02 E02','black sweater with thick beige stripe and fancy letter D at center')
    +gallery('2','s02e02-02','S02 E02','white knit sweater with black stripes')
    +gallery('2','s02e03-01','S02 E03','black crewneck sweater')
    +gallery('2','s02e03-02','S02 E03','black sweater with geometric triangle pattern')
    +gallery('2','s02e04-01','S02 E04','white sweater with black blob shape at the collar')
    +gallery('2','s02e04-02','S02 E04','black sweater with two thick white stripes')
    +gallery('2','s02e05-01','S02 E05','white long sleeve shirt with patterened knit shawl')
    +gallery('2','s02e05-02','S02 E05','black long sleeve with cowl')
    +gallery('2','s02e06-01','S02 E06','white sweater with splatter design')
    +gallery('2','s02e06-02','S02 E06','black knit sweater')
    +gallery('2','s02e06-03','S02 E06','white t-shirt with black side trim')
    +gallery('2','s02e07-01','S02 E07','black sweater with ribbed chest')
    +gallery('2','s02e07-02','S02 E07','black leather jacket')
    +gallery('2','s02e08-01','S02 E08','white oxford with black and grey tape pattern')
    +gallery('2','s02e09-01','S02 E09','black sweater with circle of white stars')
    +gallery('2','s02e10-01','S02 E10','black t-shirt')
    +gallery('2','s02e10-02','S02 E10','beige and black zip-up jacket')
    +gallery('2','s02e10-03','S02 E10','black sweater with leather chest')
    +gallery('2','s02e11-01','S02 E11','black sweater with leather chevron and grey sleeve')
    +gallery('2','s02e11-02','S02 E11','white t-shirt with text “DON’T”')
    +gallery('2','s02e12-01','S02 E12','black sweater with grey vinery design')
    +gallery('2','s02e12-02','S02 E12','suit jacket with navy and black stripes')
    +gallery('2','s02e13-01','S02 E13','white t-shirt with black side trim')
    +gallery('2','s02e13-02','S02 E13','black sweater with symmetric flowers design')

    +gallery('3','s03e01-01','S03 E01','black sweater with grey zigzag and star collar')
    +gallery('3','s03e01-02','S03 E01','white sweater with plaid collar')
    +gallery('3','s03e02-01','S03 E02','white sweater with geometric emblem')
    +gallery('3','s03e02-02','S03 E02','grey hooded cardigan')
    +gallery('3','s03e02-03','S03 E02','white polo with black stars at the collar')
    +gallery('3','s03e02-04','S03 E02','black sweater with white pattern')
    +gallery('3','s03e03-01','S03 E03','black sweater with statue of libery holding lightning bolts')
    +gallery('3','s03e03-02','S03 E03','black cardigan')
    +gallery('3','s03e04-01','S03 E04','white sweater with contour drawing of a face')
    +gallery('3','s03e04-02','S03 E04','black sweater with text “RADICAL FEMINIST”')
    +gallery('3','s03e04-03','S03 E04','grey knit sweater')
    +gallery('3','s03e05-01','S03 E05','grey sweater with cattail design')
    +gallery('3','s03e05-02','S03 E05','grey sweater with white and black trim on sleeves')
    +gallery('3','s03e06-01','S03 E06','olive sweater')
    +gallery('3','s03e07-01','S03 E07','grey sweater with spikes down the sleeves')
    +gallery('3','s03e07-02','S03 E07','black sweater with rotweiller')
    +gallery('3','s03e08-01','S03 E08','black sweater with narrow white stripes down center')
    +gallery('3','s03e08-02','S03 E08','grey sweater with black and white color blocks')
    +gallery('3','s03e09-01','S03 E09','grey sweater with smoky pattern, skull and baseball')
    +gallery('3','s03e09-02','S03 E09','white sweater with sketchy stripes')
    +gallery('3','s03e10-01','S03 E10','black sweater with ribbed chest')
    +gallery('3','s03e10-02','S03 E10','grey sweater with scattered black birds')
    +gallery('3','s03e10-03','S03 E10','black leather jacket')
    +gallery('3','s03e11-01','S03 E11','black camo sweater with black and white chevrons')
    +gallery('3','s03e11-02','S03 E11','white t-shirt with text “DON’T”')
    +gallery('3','s03e11-03','S03 E11','black sweater with circle of white stars')
    +gallery('3','s03e12-01','S03 E12','black sweater with gold medallions')
    +gallery('3','s03e12-02','S03 E12','cream sweater with zebra pattern')
    +gallery('3','s03e12-03','S03 E12','white t-shirt with vampire mouth')
    +gallery('3','s03e13-01','S03 E13','black crewneck sweater')
    +gallery('3','s03e13-02','S03 E13','black sweater with white heart')
    +gallery('3','s03e13-03','S03 E13','black sweater with big white lightning bolt')

    +gallery('4','s04e01-01','S04 E01','tan sweater with cheetah print')
    +gallery('4','s04e02-01','S04 E02','black sweater with script text “Parisien”')
    +gallery('4','s04e02-02','S04 E02','black sweater with organic spot pattern')
    +gallery('4','s04e03-01','S04 E03','grey sweater with black square and two white X‘s')
    +gallery('4','s04e03-02','S04 E03','black sweater with symmetric flowers design')
    +gallery('4','s04e04-01','S04 E04','black crew neck sweater')
    +gallery('4','s04e05-01','S04 E05','white knit sweater with black stripes')
    +gallery('4','s04e05-02','S04 E05','black sweater with paisley pattern')
    +gallery('4','s04e06-01','S04 E06','black sweater covered with white writing and fireworks')
    +gallery('4','s04e06-02','S04 E06','black sweater with red and orange fire pattern')
    +gallery('4','s04e06-03','S04 E06','black sweater with text “NO TOUCH”')
    +gallery('4','s04e07-01','S04 E07','black sweater with white radial geometric pattern')
    +gallery('4','s04e08-01','S04 E08','black turtleneck')
    +gallery('4','s04e08-02','S04 E08','black sweater with two dobermans')
    +gallery('4','s04e08-03','S04 E08','white bathrobe')
    +gallery('4','s04e09-01','S04 E09','black leather sweater with white and red striped sleeves and white stars at the collar')
    +gallery('4','s04e10-01','S04 E10','white sweater with text “WILD ALOOF REBEL”')
    +gallery('4','s04e10-02','S04 E10','black zip-up jacket')
    +gallery('4','s04e11-01','S04 E11','black sweater with sliced Hercules imagery on the sleeves')
    +gallery('4','s04e12-01','S04 E12','black sweater with wings at the shoulders')
    +gallery('4','s04e13-01','S04 E13','suit with pink bowtie')
    +gallery('4','s04e13-02','S04 E13','cream chunky sweater with zigzag pattern')
    +gallery('4','s04e13-03','S04 E13','black sweater with glittery grey stripes')
    +gallery('4','s04e13-04','S04 E13','grey sweater with bold zigzag pattern at chest')

    +gallery('5','s05e01-01','S05 E01','slouchy grey pullover hoodie')
    +gallery('5','s05e01-02','S05 E01','white sweater with spray-painted black stars')
    +gallery('5','s05e02-01','S05 E02','white t-shirt that needs help')
    +gallery('5','s05e02-02','S05 E02','black cardigan with white palm trees pattern')
    +gallery('5','s05e02-03','S05 E02','black sweater with cubes pattern')
    +gallery('5','s05e03-01','S05 E03','white t-shirt with black stripes')
    +gallery('5','s05e03-02','S05 E03','grey knit sweater with frayed edges')
    +gallery('5','s05e03-03','S05 E03','black pullover hoodie with three white racing stripes')
    +gallery('5','s05e04-01','S05 E04','black sweater with radiating white lightning bolts')
    +gallery('5','s05e04-02','S05 E04','black hoodie with text “POSSESSED”')
    +gallery('5','s05e05-01','S05 E05','black sweater with lace-up sleeves')
    +gallery('5','s05e05-02','S05 E05','white pajama shirt')
    +gallery('5','s05e06-01','S05 E06','black sweater with purple and white dyed bottom')
    +gallery('5','s05e07-01','S05 E07','black sweater with bird')
    +gallery('5','s05e08-01','S05 E08','black sweater with text “NONCHALANCE”')
    +gallery('5','s05e09-01','S05 E09','white sweater with text “BEAUTY &”')
    +gallery('5','s05e09-02','S05 E09','white and green baseball shirt with team logo “Cafe Tropical”')
    +gallery('5','s05e10-01','S05 E10','grey sweater with black panther sleeves')
    +gallery('5','s05e11-01','S05 E11','slouchy black sweater')
    +gallery('5','s05e11-02','S05 E11','black sweater with geomeetric heart pattern and the text “I BELIEVE IN THE POWER OF LOVE”')
    +gallery('5','s05e12-01','S05 E12','black sweater with white and red stripes')
    +gallery('5','s05e13-01','S05 E13','black sweater with text “You First”')
    +gallery('5','s05e13-02','S05 E13','black sweater with big, fuzzy black stripes')
    +gallery('5','s05e14-01','S05 E14','black t-shirt')
    +gallery('5','s05e14-02','S05 E14','black pullover hoodie with white laces up the center and hood')
    +gallery('5','s05e14-03','S05 E14','black sweater with white embroidered roses at the chest')

    +gallery('6','s06e01-01','S06 E01','black very-worn sweater with holes')
    +gallery('6','s06e02-01','S06 E02','black t-shirt with “LOVER” over the pocket')
    +gallery('6','s06e02-02','S06 E02','cream hoodie with big fuzzy dots')
    +gallery('6','s06e02-03','S06 E02','long sleeve black and white striped shirt with red heart with eyes at the chest')
    +gallery('6','s06e03-02','S06 E03','black sweater with grey tiger stripes')
    +gallery('6','s06e03-03','S06 E03','light blue oxford')
    +gallery('6','s06e04-01','S06 E04','black sweater with glittery chest')
    +gallery('6','s06e05-01','S06 E05','black sweater with growling dog and the text “BEWARE”')
    +gallery('6','s06e05-02','S06 E05','black long sleeve shirt with ribbon down side')
    +gallery('6','s06e05-03','S06 E05','black sweater with white and grey glittery detail around shoulders')
    +gallery('6','s06e06-01','S06 E06','black sweater with oversized grey leopard print')
    +gallery('6','s06e06-02','S06 E06','white t-shirt with black square and black leather jacket')
    +gallery('6','s06e07-01','S06 E07','black sweater with mauve geometric panel on front')
    +gallery('6','s06e07-02','S06 E07','black sweater with dyed stripes at the bottom and text “DREAM ON” at chest')
    +gallery('6','s06e08-01','S06 E08','black sweater with two thick white stripes and white star')
    +gallery('6','s06e08-02','S06 E08','silver sweater')

  section.feature
    img.david-rose(src='/assets/images/david-rose-default.svg')
    .shirt#top
      img(src='/assets/images/feature/david-rose-default.svg' alt='t-shirt that says “Dress me”')
      a.next(href='#s01e01-01') Next

    +feature('      top','s01e01-01','s01e01-02','black sweater, leather elbows')
    +feature('s01e01-01','s01e01-02','s01e01-03','black leather jacket')
    +feature('s01e01-02','s01e01-03','s01e01-04','black zip-up hoodie')
    +feature('s01e01-03','s01e01-04','s01e02-01','white t-shirt, black beanie')
    +feature('s01e01-04','s01e02-01','s01e02-02','black crewneck sweater')
    +feature('s01e02-01','s01e02-02','s01e02-03','black sweater with zipper collar')
    +feature('s01e02-02','s01e02-03','s01e03-01','white long sleeve, black beanie, headphones')
    +feature('s01e02-03','s01e03-01','s01e03-02','white long sleeve')
    +feature('s01e03-01','s01e03-02','s01e03-03','white crewneck sweater')
    +feature('s01e03-02','s01e03-03','s01e03-04','white crewneck sweater')
    +feature('s01e03-03','s01e03-04','s01e04-01','grey knit sweater with green smock on top')
    +feature('s01e03-02','s01e04-01','s01e04-02','black polo with white stars at the collar')
    +feature('s01e04-01','s01e04-02','s01e04-03','short sleeve oxford with scribbly line pattern')
    +feature('s01e04-02','s01e04-03','s01e05-01','black zip-up hoodie')
    +feature('s01e04-03','s01e05-01','s01e05-02','long black hoodie')
    +feature('s01e05-01','s01e05-02','s01e05-03','black crewneck sweater')
    +feature('s01e05-02','s01e05-03','s01e06-01','white t-shirt')
    +feature('s01e05-03','s01e06-01','s01e06-02','slouchy black knit sweater')
    +feature('s01e06-01','s01e06-02','s01e06-03','white t-shirt')
    +feature('s01e06-02','s01e06-03','s01e07-01','black zip-up hoodie, black beanie')
    +feature('s01e06-03','s01e07-01','s01e07-02','chunky white knit sweater')
    +feature('s01e07-01','s01e07-02','s01e08-01','camoflage jacket')
    +feature('s01e07-02','s01e08-01','s01e09-01','khaki oxford with cowl')
    +feature('s01e08-01','s01e09-01','s01e09-02','black zip-up hoodie with zip sleeves')
    +feature('s01e09-01','s01e09-02','s01e09-03','white oxford with marble pattern')
    +feature('s01e09-02','s01e09-03','s01e10-01','black sweater with two beige stripes at collar')
    +feature('s01e09-03','s01e10-01','s01e11-01','black oxford with roses pattern')
    +feature('s01e10-01','s01e11-01','s01e12-01','white sweater with black and grey flowers')
    +feature('s01e11-01','s01e12-01','s01e12-02','white polo with black stars at the collar')
    +feature('s01e12-01','s01e12-02','s01e12-03','black sweater with diagonal white and grey color blocks')
    +feature('s01e12-02','s01e12-03','s01e13-01','dress shirt, tie, and jacket')
    +feature('s01e12-03','s01e13-01','s02e01-01','black sweater with leather shoulders')

    +feature('s01e13-01','s02e01-01','s02e01-02','black hoodie with furry hood')
    +feature('s02e01-01','s02e01-02','s02e02-01','grey sweater with text “LOVE ME TENDER”')
    +feature('s02e01-02','s02e02-01','s02e02-02','black sweater with thick beige stripe and fancy letter D at center')
    +feature('s02e02-01','s02e02-02','s02e03-01','white knit sweater with black stripes')
    +feature('s02e02-02','s02e03-01','s02e03-02','black crewneck sweater')
    +feature('s02e03-01','s02e03-02','s02e04-01','black sweater with geometric triangle pattern')
    +feature('s02e03-02','s02e04-01','s02e04-02','white sweater with black blob shape at the collar')
    +feature('s02e04-01','s02e04-02','s02e05-01','black sweater with two thick white stripes')
    +feature('s02e04-02','s02e05-01','s02e05-02','white long sleeve shirt with patterened knit shawl')
    +feature('s02e05-01','s02e05-02','s02e06-01','black long sleeve with cowl')
    +feature('s02e05-02','s02e06-01','s02e06-02','white sweater with splatter design')
    +feature('s02e06-01','s02e06-02','s02e06-03','black knit sweater')
    +feature('s02e06-02','s02e06-03','s02e07-01','white t-shirt with black side trim')
    +feature('s02e06-03','s02e07-01','s02e07-02','black sweater with ribbed chest')
    +feature('s02e07-01','s02e07-02','s02e08-01','black leather jacket')
    +feature('s02e07-02','s02e08-01','s02e09-01','white oxford with black and grey tape pattern')
    +feature('s02e08-01','s02e09-01','s02e10-01','black sweater with circle of white stars')
    +feature('s02e09-01','s02e10-01','s02e10-02','black t-shirt')
    +feature('s02e10-01','s02e10-02','s02e10-03','beige and black zip-up jacket')
    +feature('s02e10-02','s02e10-03','s02e11-01','black sweater with leather chest')
    +feature('s02e10-03','s02e11-01','s02e11-02','black sweater with leather chevron and grey sleeve')
    +feature('s02e11-01','s02e11-02','s02e12-01','white t-shirt with text “DON’T”')
    +feature('s02e11-02','s02e12-01','s02e12-02','black sweater with grey vinery design')
    +feature('s02e12-01','s02e12-02','s02e13-01','suit jacket with navy and black stripes')
    +feature('s02e12-02','s02e13-01','s02e13-02','white t-shirt with black side trim')
    +feature('s02e13-01','s02e13-02','s03e01-01','black sweater with symmetric flowers design')

    +feature('s02e13-02','s03e01-01','s03e01-02','black sweater with grey zigzag and star collar')
    +feature('s03e01-01','s03e01-02','s03e02-01','white sweater with plaid collar')
    +feature('s03e01-02','s03e02-01','s03e02-02','white sweater with geometric emblem')
    +feature('s03e02-01','s03e02-02','s03e02-03','grey hooded cardigan')
    +feature('s03e02-02','s03e02-03','s03e02-04','white polo with black stars at the collar')
    +feature('s03e02-03','s03e02-04','s03e03-01','black sweater with white pattern')
    +feature('s03e02-04','s03e03-01','s03e03-02','black sweater with statue of libery holding lightning bolts')
    +feature('s03e03-01','s03e03-02','s03e04-01','black cardigan')
    +feature('s03e03-02','s03e04-01','s03e04-02','white sweater with contour drawing of a face')
    +feature('s03e04-01','s03e04-02','s03e04-03','black sweater with text “RADICAL FEMINIST”')
    +feature('s03e04-02','s03e04-03','s03e05-01','grey knit sweater')
    +feature('s03e04-03','s03e05-01','s03e05-02','grey sweater with cattail design')
    +feature('s03e05-01','s03e05-02','s03e06-01','grey sweater with white and black trim on sleeves')
    +feature('s03e05-02','s03e06-01','s03e07-01','olive sweater')
    +feature('s03e06-01','s03e07-01','s03e07-02','grey sweater with spikes down the sleeves')
    +feature('s03e07-01','s03e07-02','s03e08-01','black sweater with rotweiller')
    +feature('s03e07-02','s03e08-01','s03e08-02','black sweater with narrow white stripes down center')
    +feature('s03e08-01','s03e08-02','s03e09-01','grey sweater with black and white color blocks')
    +feature('s03e08-02','s03e09-01','s03e09-02','grey sweater with smoky pattern, skull and baseball')
    +feature('s03e09-01','s03e09-02','s03e10-01','white sweater with sketchy stripes')
    +feature('s03e09-02','s03e10-01','s03e10-02','black sweater with ribbed chest')
    +feature('s03e10-01','s03e10-02','s03e10-03','grey sweater with scattered black birds')
    +feature('s03e10-02','s03e10-03','s03e11-01','black leather jacket')
    +feature('s03e10-03','s03e11-01','s03e11-02','black camo sweater with black and white chevrons')
    +feature('s03e11-01','s03e11-02','s03e11-03','white t-shirt with text “DON’T”')
    +feature('s03e11-02','s03e11-03','s03e12-01','black sweater with circle of white stars')
    +feature('s03e11-03','s03e12-01','s03e12-02','black sweater with gold medallions')
    +feature('s03e12-01','s03e12-02','s03e12-03','cream sweater with zebra pattern')
    +feature('s03e12-02','s03e12-03','s03e13-01','white t-shirt with vampire mouth')
    +feature('s03e12-03','s03e13-01','s03e13-02','black crewneck sweater')
    +feature('s03e13-01','s03e13-02','s03e13-03','black sweater with white heart')
    +feature('s03e13-02','s03e13-03','s04e01-01','black sweater with big white lightning bolt')

    +feature('s03e13-03','s04e01-01','s04e02-01','tan sweater with cheetah print')
    +feature('s04e01-01','s04e02-01','s04e02-02','black sweater with script text “Parisien”')
    +feature('s04e02-01','s04e02-02','s04e03-01','black sweater with organic spot pattern')
    +feature('s04e02-02','s04e03-01','s04e03-02','grey sweater with black square and two white X‘s')
    +feature('s04e03-01','s04e03-02','s04e04-01','black sweater with symmetric flowers design')
    +feature('s04e03-02','s04e04-01','s04e05-01','black crew neck sweater')
    +feature('s04e04-01','s04e05-01','s04e05-02','white knit sweater with black stripes')
    +feature('s04e05-01','s04e05-02','s04e06-01','black sweater with paisley pattern')
    +feature('s04e05-02','s04e06-01','s04e06-02','black sweater covered with white writing and fireworks')
    +feature('s04e06-01','s04e06-02','s04e06-03','black sweater with red and orange fire pattern')
    +feature('s04e06-02','s04e06-03','s04e07-01','black sweater with text “NO TOUCH”')
    +feature('s04e06-03','s04e07-01','s04e08-01','black sweater with white radial geometric pattern')
    +feature('s04e07-01','s04e08-01','s04e08-02','black turtleneck')
    +feature('s04e08-01','s04e08-02','s04e08-03','black sweater with two dobermans')
    +feature('s04e08-02','s04e08-03','s04e09-01','white bathrobe')
    +feature('s04e08-03','s04e09-01','s04e10-01','black leather sweater with white and red striped sleeves and white stars at the collar')
    +feature('s04e09-01','s04e10-01','s04e10-02','white sweater with text “WILD ALOOF REBEL”')
    +feature('s04e10-01','s04e10-02','s04e11-01','black zip-up jacket')
    +feature('s04e10-02','s04e11-01','s04e12-01','black sweater with sliced Hercules imagery on the sleeves')
    +feature('s04e11-01','s04e12-01','s04e13-01','black sweater with wings at the shoulders')
    +feature('s04e12-01','s04e13-01','s04e13-02','suit with pink bowtie')
    +feature('s04e13-01','s04e13-02','s04e13-03','cream chunky sweater with zigzag pattern')
    +feature('s04e13-02','s04e13-03','s04e13-04','black sweater with glittery grey stripes')
    +feature('s04e13-03','s04e13-04','s05e01-01','grey sweater with bold zigzag pattern at chest')

    +feature('s04e13-04','s05e01-01','s05e01-02','slouchy grey pullover hoodie')
    +feature('s05e01-01','s05e01-02','s05e02-01','white sweater with spray-painted black stars')
    +feature('s05e01-02','s05e02-01','s05e02-02','white t-shirt that needs help')
    +feature('s05e02-01','s05e02-02','s05e02-03','black cardigan with white palm trees pattern')
    +feature('s05e02-02','s05e02-03','s05e03-01','black sweater with cubes pattern')
    +feature('s05e02-03','s05e03-01','s05e03-02','white t-shirt with black stripes')
    +feature('s05e03-01','s05e03-02','s05e03-03','grey knit sweater with frayed edges')
    +feature('s05e03-02','s05e03-03','s05e04-01','black pullover hoodie with three white racing stripes')
    +feature('s05e03-03','s05e04-01','s05e04-02','black sweater with radiating white lightning bolts')
    +feature('s05e04-01','s05e04-02','s05e05-01','black hoodie with text “POSSESSED”')
    +feature('s05e04-02','s05e05-01','s05e05-02','black sweater with lace-up sleeves')
    +feature('s05e05-01','s05e05-02','s05e06-01','white pajama shirt')
    +feature('s05e05-02','s05e06-01','s05e07-01','black sweater with purple and white dyed bottom')
    +feature('s05e06-01','s05e07-01','s05e08-01','black sweater with bird')
    +feature('s05e07-01','s05e08-01','s05e09-01','black sweater with text “NONCHALANCE”')
    +feature('s05e08-01','s05e09-01','s05e09-02','white sweater with text “BEAUTY &”')
    +feature('s05e09-01','s05e09-02','s05e10-01','white and green baseball shirt with team logo “Cafe Tropical”')
    +feature('s05e09-02','s05e10-01','s05e11-01','grey sweater with black panther sleeves')
    +feature('s05e10-01','s05e11-01','s05e11-02','slouchy black sweater')
    +feature('s05e11-01','s05e11-02','s05e12-01','black sweater with geomeetric heart pattern and the text “I BELIEVE IN THE POWER OF LOVE”')
    +feature('s05e11-02','s05e12-01','s05e13-01','black sweater with white and red stripes')
    +feature('s05e12-01','s05e13-01','s05e13-02','black sweater with text “You First”')
    +feature('s05e13-01','s05e13-02','s05e14-01','black sweater with big, fuzzy black stripes')
    +feature('s05e13-02','s05e14-01','s05e14-02','black t-shirt')
    +feature('s05e14-01','s05e14-02','s05e14-03','black pullover hoodie with white laces up the center and hood')
    +feature('s05e14-02','s05e14-03','s06e01-01','black sweater with white embroidered roses at the chest')

    +feature('s05e14-03','s06e01-01','s06e02-01','black very-worn sweater with holes')
    +feature('s06e01-01','s06e02-01','s06e02-02','black t-shirt with “LOVER” over the pocket')
    +feature('s06e02-01','s06e02-02','s06e02-03','cream hoodie with big fuzzy dots')
    +feature('s06e02-02','s06e02-03','s06e03-02','long sleeve black and white striped shirt with red heart with eyes at the chest')
    +feature('s06e02-03','s06e03-02','s06e03-03','black sweater with grey tiger stripes')
    +feature('s06e03-02','s06e03-03','s06e04-01','light blue oxford')
    +feature('s06e03-03','s06e04-01','s06e05-01','black sweater with glittery chest')
    +feature('s06e04-01','s06e05-01','s06e05-02','black sweater with growling dog and the text “BEWARE”')
    +feature('s06e05-01','s06e05-02','s06e05-03','black long sleeve shirt with ribbon down side')
    +feature('s06e05-02','s06e05-03','s06e06-01','black sweater with white and grey glittery detail around shoulders')
    +feature('s06e05-03','s06e06-01','s06e06-02','black sweater with oversized grey leopard print')
    +feature('s06e06-01','s06e06-02','s06e07-01','white t-shirt with black square and black leather jacket')
    +feature('s06e06-02','s06e07-01','s06e07-02','black sweater with mauve geometric panel on front')
    +feature('s06e07-01','s06e07-02','s06e08-01','black sweater with dyed stripes at the bottom and text “DREAM ON” at chest')
    +feature('s06e07-02','s06e08-01','s06e08-02','black sweater with two thick white stripes and white star')
    +feature('s06e08-01','s06e08-02','NEED','silver sweater')
