extends layout

block vars
  - var pageTitle = 'Dress David Rose'
  - var pageDescription = 'Every shirt, sweater, and jacket David Rose wears on Schitt’s Creek.'
  - var bodyClass = 'home'

mixin gallery(season,episode,item,filetype,alt)
  .gallery-shirt(class='season-0' + season)
    a(href='#s0' + season + 'e' + episode + '-' + item)
      img(src='/assets/images/gallery/s0' + season + 'e' + episode + '-' + item + '.' + filetype, alt=alt, loading='lazy')
      figcaption='S0' + season + ' E' + episode

mixin feature(season,episode,item,prev,next,filetype,alt)
  .shirt(id='s0' + season + 'e' + episode + '-' + item)
    a.prev(href='#' + prev) Prev
    img(src='/assets/images/feature/s0' + season + 'e' + episode + '-' + item + '.' + filetype, alt=alt)
    figcaption='S0' + season + ' E' + episode
    a.next(href='#' + next) Next

block content

  nav.gallery

    nav#gallery-filters
      button.filter.active#filter-all(onclick="filterSelection('all')") All
      button.filter#filter-s01(onclick="filterSelection('season-01')") S01
      button.filter#filter-s02(onclick="filterSelection('season-02')") S02
      button.filter#filter-s03(onclick="filterSelection('season-03')") S03
      button.filter#filter-s04(onclick="filterSelection('season-04')") S04
      button.filter#filter-s05(onclick="filterSelection('season-05')") S05
      button.filter#filter-s06(onclick="filterSelection('season-06')") S06

    +gallery('1','01','01','svg','black sweater, leather elbows')
    +gallery('1','01','02','svg','black leather jacket')
    +gallery('1','01','03','svg','black zip-up hoodie')
    +gallery('1','01','04','svg','white t-shirt, black beanie')
    +gallery('1','02','01','svg','black crewneck sweater')
    +gallery('1','02','02','svg','black sweater with zipper collar')
    +gallery('1','02','03','svg','white long sleeve, black beanie, headphones')
    +gallery('1','03','01','svg','white long sleeve')
    +gallery('1','03','02','svg','white crewneck sweater')
    +gallery('1','03','03','svg','white crewneck sweater')
    +gallery('1','03','04','svg','grey knit sweater with green smock on top')
    +gallery('1','04','01','svg','black polo with white stars at the collar')
    +gallery('1','04','02','png','short sleeve oxford with scribbly line pattern')
    +gallery('1','04','03','svg','black zip-up hoodie')
    +gallery('1','05','01','svg','long black hoodie')
    +gallery('1','05','02','svg','black crewneck sweater')
    +gallery('1','05','03','svg','white t-shirt')
    +gallery('1','06','01','svg','slouchy black knit sweater')
    +gallery('1','06','02','svg','white t-shirt')
    +gallery('1','06','03','svg','black zip-up hoodie, black beanie')
    +gallery('1','07','01','svg','chunky white knit sweater')
    +gallery('1','07','02','png','camoflage jacket')
    +gallery('1','08','01','svg','khaki oxford with cowl')
    +gallery('1','09','01','svg','black zip-up hoodie with zip sleeves')
    +gallery('1','09','02','png','white oxford with marble pattern')
    +gallery('1','09','03','png','black sweater with two beige stripes at collar')
    +gallery('1','10','01','png','black oxford with roses pattern')
    +gallery('1','11','01','png','white sweater with black and grey flowers')
    +gallery('1','12','01','svg','white polo with black stars at the collar')
    +gallery('1','12','02','svg','black sweater with diagonal white and grey color blocks')
    +gallery('1','12','03','svg','dress shirt, tie, and jacket')
    +gallery('1','13','01','svg','black sweater with leather shoulders')

    +gallery('2','01','01','png','black hoodie with furry hood')
    +gallery('2','01','02','svg','grey sweater with text “LOVE ME TENDER”')
    +gallery('2','02','01','svg','black sweater with thick beige stripe and fancy letter D at center')
    +gallery('2','02','02','png','white knit sweater with black stripes')
    +gallery('2','03','01','svg','black crewneck sweater')
    +gallery('2','03','02','svg','black sweater with geometric triangle pattern')
    +gallery('2','04','01','svg','white sweater with black blob shape at the collar')
    +gallery('2','04','02','svg','black sweater with two thick white stripes')
    +gallery('2','05','01','png','white long sleeve shirt with patterened knit shawl')
    +gallery('2','05','02','svg','black long sleeve with cowl')
    +gallery('2','06','01','png','white sweater with splatter design')
    +gallery('2','06','02','svg','black knit sweater')
    +gallery('2','06','03','svg','white t-shirt with black side trim')
    +gallery('2','07','01','svg','black sweater with ribbed chest')
    +gallery('2','07','02','svg','black leather jacket')
    +gallery('2','08','01','svg','white oxford with black and grey tape pattern')
    +gallery('2','09','01','svg','black sweater with circle of white stars')
    +gallery('2','10','01','svg','black t-shirt')
    +gallery('2','10','02','svg','beige and black zip-up jacket')
    +gallery('2','10','03','svg','black sweater with leather chest')
    +gallery('2','11','01','svg','black sweater with leather chevron and grey sleeve')
    +gallery('2','11','02','svg','white t-shirt with text “DON’T”')
    +gallery('2','12','01','png','black sweater with grey vinery design')
    +gallery('2','12','02','svg','suit jacket with navy and black stripes')
    +gallery('2','13','01','svg','white t-shirt with black side trim')
    +gallery('2','13','02','png','black sweater with symmetric flowers design')

    +gallery('3','01','01','svg','black sweater with grey zigzag and star collar')
    +gallery('3','01','02','svg','white sweater with plaid collar')
    +gallery('3','02','01','svg','white sweater with geometric emblem')
    +gallery('3','02','02','svg','grey hooded cardigan')
    +gallery('3','02','03','svg','white polo with black stars at the collar')
    +gallery('3','02','04','png','black sweater with white pattern')
    +gallery('3','03','01','png','black sweater with statue of libery holding lightning bolts')
    +gallery('3','03','02','svg','black cardigan')
    +gallery('3','04','01','svg','white sweater with contour drawing of a face')
    +gallery('3','04','02','svg','black sweater with text “RADICAL FEMINIST”')
    +gallery('3','04','03','svg','grey knit sweater')
    +gallery('3','05','01','svg','grey sweater with cattail design')
    +gallery('3','05','02','svg','grey sweater with white and black trim on sleeves')
    +gallery('3','06','01','svg','olive sweater')
    +gallery('3','07','01','svg','grey sweater with spikes down the sleeves')
    +gallery('3','07','02','svg','black sweater with rotweiller')
    +gallery('3','08','01','svg','black sweater with narrow white stripes down center')
    +gallery('3','08','02','svg','grey sweater with black and white color blocks')
    +gallery('3','09','01','png','grey sweater with smoky pattern, skull and baseball')
    +gallery('3','09','02','png','white sweater with sketchy stripes')
    +gallery('3','10','01','svg','black sweater with ribbed chest')
    +gallery('3','10','02','svg','grey sweater with scattered black birds')
    +gallery('3','10','03','svg','black leather jacket')
    +gallery('3','11','01','svg','black camo sweater with black and white chevrons')
    +gallery('3','11','02','svg','white t-shirt with text “DON’T”')
    +gallery('3','11','03','svg','black sweater with circle of white stars')
    +gallery('3','12','01','png','black sweater with gold medallions')
    +gallery('3','12','02','png','cream sweater with zebra pattern')
    +gallery('3','12','03','svg','white t-shirt with vampire mouth')
    +gallery('3','13','01','svg','black crewneck sweater')
    +gallery('3','13','02','svg','black sweater with white heart')
    +gallery('3','13','03','svg','black sweater with big white lightning bolt')

    +gallery('4','01','01','png','tan sweater with cheetah print')
    +gallery('4','02','01','svg','black sweater with script text “Parisien”')
    +gallery('4','02','02','png','black sweater with organic spot pattern')
    +gallery('4','03','01','svg','grey sweater with black square and two white X‘s')
    +gallery('4','03','02','png','black sweater with symmetric flowers design')
    +gallery('4','04','01','svg','black crew neck sweater')
    +gallery('4','05','01','png','white knit sweater with black stripes')
    +gallery('4','05','02','png','black sweater with paisley pattern')
    +gallery('4','06','01','png','black sweater covered with white writing and fireworks')
    +gallery('4','06','02','png','black sweater with red and orange fire pattern')
    +gallery('4','06','03','svg','black sweater with text “NO TOUCH”')
    +gallery('4','07','01','svg','black sweater with white radial geometric pattern')
    +gallery('4','08','01','svg','black turtleneck')
    +gallery('4','08','02','png','black sweater with two dobermans')
    +gallery('4','08','03','svg','white bathrobe')
    +gallery('4','09','01','svg','black leather sweater with white and red striped sleeves and white stars at the collar')
    +gallery('4','10','01','svg','white sweater with text “WILD ALOOF REBEL”')
    +gallery('4','10','02','svg','black zip-up jacket')
    +gallery('4','11','01','png','black sweater with sliced Hercules imagery on the sleeves')
    +gallery('4','12','01','png','black sweater with wings at the shoulders')
    +gallery('4','13','01','svg','suit with pink bowtie')
    +gallery('4','13','02','svg','cream chunky sweater with zigzag pattern')
    +gallery('4','13','03','png','black sweater with glittery grey stripes')
    +gallery('4','13','04','svg','grey sweater with bold zigzag pattern at chest')

    +gallery('5','01','01','svg','slouchy grey pullover hoodie')
    +gallery('5','01','02','png','white sweater with spray-painted black stars')
    +gallery('5','02','01','png','white t-shirt with handwriting and bird')
    +gallery('5','02','02','png','black cardigan with white palm trees pattern')
    +gallery('5','02','03','svg','black sweater with cubes pattern')
    +gallery('5','03','01','svg','white t-shirt with black stripes')
    +gallery('5','03','02','png','grey knit sweater with frayed edges')
    +gallery('5','03','03','svg','black pullover hoodie with three white racing stripes')
    +gallery('5','04','01','svg','black sweater with radiating white lightning bolts')
    +gallery('5','04','02','png','black hoodie with text “POSSESSED”')
    +gallery('5','05','01','svg','black sweater with lace-up sleeves')
    +gallery('5','05','02','svg','white pajama shirt')
    +gallery('5','06','01','png','black sweater with purple and white dyed bottom')
    +gallery('5','07','01','png','black sweater with bird')
    +gallery('5','08','01','svg','black sweater with text “NONCHALANCE”')
    +gallery('5','09','01','svg','white sweater with text “BEAUTY &”')
    +gallery('5','09','02','svg','white and green baseball shirt with team logo “Cafe Tropical”')
    +gallery('5','10','01','png','grey sweater with black panther sleeves')
    +gallery('5','11','01','svg','slouchy black sweater')
    +gallery('5','11','02','svg','black sweater with geomeetric heart pattern and the text “I BELIEVE IN THE POWER OF LOVE”')
    +gallery('5','12','01','svg','black sweater with white and red stripes')
    +gallery('5','13','01','svg','black sweater with text “You First”')
    +gallery('5','13','02','png','black sweater with big, fuzzy black stripes')
    +gallery('5','14','01','svg','black t-shirt')
    +gallery('5','14','02','svg','black pullover hoodie with white laces up the center and hood')
    +gallery('5','14','03','svg','black sweater with white embroidered roses at the chest')

    +gallery('6','01','01','svg','black very-worn sweater with holes')
    +gallery('6','02','01','svg','black t-shirt with “LOVER” over the pocket')
    +gallery('6','02','02','png','cream hoodie with big fuzzy dots')
    +gallery('6','02','03','svg','long sleeve black and white striped shirt with red heart with eyes at the chest')
    +gallery('6','03','02','png','black sweater with grey tiger stripes')
    +gallery('6','03','03','svg','light blue oxford')
    +gallery('6','04','01','svg','black sweater with glittery chest')
    +gallery('6','05','01','svg','black sweater with growling dog and the text “BEWARE”')
    +gallery('6','05','02','svg','black long sleeve shirt with ribbon down side')
    +gallery('6','05','03','svg','black sweater with white and grey glittery detail around shoulders')
    +gallery('6','06','01','png','black sweater with oversized grey leopard print')
    +gallery('6','06','02','png','white t-shirt with black square and black leather jacket')
    +gallery('6','07','01','svg','black sweater with mauve geometric panel on front')
    +gallery('6','07','02','svg','black sweater with dyed stripes at the bottom and text “DREAM ON” at chest')
    +gallery('6','08','01','svg','black sweater with two thick white stripes and white star')
    +gallery('6','08','02','svg','silver sweater')
    +gallery('6','09','01','svg','black sweater with white tattoo artwork')
    +gallery('6','09','02','svg','black sweater covered with eyeballs')
    +gallery('6','09','03','svg','black sweater with triangles of grey, white, and red color blocks')

  section.feature
    h1 Dress David Rose
    h2 a #[a(href='https://twitter.com/lynnandtonic') Lynn Fisher] project
    a#share(href='https://ctt.ac/IEsu0') Share
    .david-rose
      img(src='/assets/images/david-rose-default.svg')
    .shirt#top
      img(src='/assets/images/feature/david-rose-default.svg' alt='t-shirt that says “Dress me”')
      a.next(href='#s01e01-01') Next

    +feature('1','01','01', 'top','s01e01-02','svg','black sweater, leather elbows')
    +feature('1','01','02','s01e01-01','s01e01-03','svg','black leather jacket')
    +feature('1','01','03','s01e01-02','s01e01-04','svg','black zip-up hoodie')
    +feature('1','01','04','s01e01-03','s01e02-01','svg','white t-shirt, black beanie')
    +feature('1','02','01','s01e01-04','s01e02-02','svg','black crewneck sweater')
    +feature('1','02','02','s01e02-01','s01e02-03','svg','black sweater with zipper collar')
    +feature('1','02','03','s01e02-02','s01e03-01','svg','white long sleeve, black beanie, headphones')
    +feature('1','03','01','s01e02-03','s01e03-02','svg','white long sleeve')
    +feature('1','03','02','s01e03-01','s01e03-03','svg','white crewneck sweater')
    +feature('1','03','03','s01e03-02','s01e03-04','svg','white crewneck sweater')
    +feature('1','03','04','s01e03-03','s01e04-01','svg','grey knit sweater with green smock on top')
    +feature('1','04','01','s01e03-02','s01e04-02','svg','black polo with white stars at the collar')
    +feature('1','04','02','s01e04-01','s01e04-03','png','short sleeve oxford with scribbly line pattern')
    +feature('1','04','03','s01e04-02','s01e05-01','svg','black zip-up hoodie')
    +feature('1','05','01','s01e04-03','s01e05-02','svg','long black hoodie')
    +feature('1','05','02','s01e05-01','s01e05-03','svg','black crewneck sweater')
    +feature('1','05','03','s01e05-02','s01e06-01','svg','white t-shirt')
    +feature('1','06','01','s01e05-03','s01e06-02','svg','slouchy black knit sweater')
    +feature('1','06','02','s01e06-01','s01e06-03','svg','white t-shirt')
    +feature('1','06','03','s01e06-02','s01e07-01','svg','black zip-up hoodie, black beanie')
    +feature('1','07','01','s01e06-03','s01e07-02','svg','chunky white knit sweater')
    +feature('1','07','02','s01e07-01','s01e08-01','png','camoflage jacket')
    +feature('1','08','01','s01e07-02','s01e09-01','svg','khaki oxford with cowl')
    +feature('1','09','01','s01e08-01','s01e09-02','svg','black zip-up hoodie with zip sleeves')
    +feature('1','09','02','s01e09-01','s01e09-03','svg','white oxford with marble pattern')
    +feature('1','09','03','s01e09-02','s01e10-01','png','black sweater with two beige stripes at collar')
    +feature('1','10','01','s01e09-03','s01e11-01','png','black oxford with roses pattern')
    +feature('1','11','01','s01e10-01','s01e12-01','png','white sweater with black and grey flowers')
    +feature('1','12','01','s01e11-01','s01e12-02','svg','white polo with black stars at the collar')
    +feature('1','12','02','s01e12-01','s01e12-03','svg','black sweater with diagonal white and grey color blocks')
    +feature('1','12','03','s01e12-02','s01e13-01','svg','dress shirt, tie, and jacket')
    +feature('1','13','01','s01e12-03','s02e01-01','svg','black sweater with leather shoulders')

    +feature('2','01','01','s01e13-01','s02e01-02','png','black hoodie with furry hood')
    +feature('2','01','02','s02e01-01','s02e02-01','svg','grey sweater with text “LOVE ME TENDER”')
    +feature('2','02','01','s02e01-02','s02e02-02','svg','black sweater with thick beige stripe and fancy letter D at center')
    +feature('2','02','02','s02e02-01','s02e03-01','png','white knit sweater with black stripes')
    +feature('2','03','01','s02e02-02','s02e03-02','png','black crewneck sweater')
    +feature('2','03','02','s02e03-01','s02e04-01','svg','black sweater with geometric triangle pattern')
    +feature('2','04','01','s02e03-02','s02e04-02','svg','white sweater with black blob shape at the collar')
    +feature('2','04','02','s02e04-01','s02e05-01','svg','black sweater with two thick white stripes')
    +feature('2','05','01','s02e04-02','s02e05-02','png','white long sleeve shirt with patterened knit shawl')
    +feature('2','05','02','s02e05-01','s02e06-01','svg','black long sleeve with cowl')
    +feature('2','06','01','s02e05-02','s02e06-02','png','white sweater with splatter design')
    +feature('2','06','02','s02e06-01','s02e06-03','svg','black knit sweater')
    +feature('2','06','03','s02e06-02','s02e07-01','svg','white t-shirt with black side trim')
    +feature('2','07','01','s02e06-03','s02e07-02','svg','black sweater with ribbed chest')
    +feature('2','07','02','s02e07-01','s02e08-01','svg','black leather jacket')
    +feature('2','08','01','s02e07-02','s02e09-01','svg','white oxford with black and grey tape pattern')
    +feature('2','09','01','s02e08-01','s02e10-01','svg','black sweater with circle of white stars')
    +feature('2','10','01','s02e09-01','s02e10-02','svg','black t-shirt')
    +feature('2','10','02','s02e10-01','s02e10-03','svg','beige and black zip-up jacket')
    +feature('2','10','03','s02e10-02','s02e11-01','png','black sweater with leather chest')
    +feature('2','11','01','s02e10-03','s02e11-02','svg','black sweater with leather chevron and grey sleeve')
    +feature('2','11','02','s02e11-01','s02e12-01','svg','white t-shirt with text “DON’T”')
    +feature('2','12','01','s02e11-02','s02e12-02','png','black sweater with grey vinery design')
    +feature('2','12','02','s02e12-01','s02e13-01','svg','suit jacket with navy and black stripes')
    +feature('2','13','01','s02e12-02','s02e13-02','svg','white t-shirt with black side trim')
    +feature('2','13','02','s02e13-01','s03e01-01','png','black sweater with symmetric flowers design')

    +feature('3','01','01','s02e13-02','s03e01-02','svg','black sweater with grey zigzag and star collar')
    +feature('3','01','02','s03e01-01','s03e02-01','svg','white sweater with plaid collar')
    +feature('3','02','01','s03e01-02','s03e02-02','svg','white sweater with geometric emblem')
    +feature('3','02','02','s03e02-01','s03e02-03','svg','grey hooded cardigan')
    +feature('3','02','03','s03e02-02','s03e02-04','svg','white polo with black stars at the collar')
    +feature('3','02','04','s03e02-03','s03e03-01','png','black sweater with white pattern')
    +feature('3','03','01','s03e02-04','s03e03-02','png','black sweater with statue of libery holding lightning bolts')
    +feature('3','03','02','s03e03-01','s03e04-01','svg','black cardigan')
    +feature('3','04','01','s03e03-02','s03e04-02','svg','white sweater with contour drawing of a face')
    +feature('3','04','02','s03e04-01','s03e04-03','svg','black sweater with text “RADICAL FEMINIST”')
    +feature('3','04','03','s03e04-02','s03e05-01','svg','grey knit sweater')
    +feature('3','05','01','s03e04-03','s03e05-02','svg','grey sweater with cattail design')
    +feature('3','05','02','s03e05-01','s03e06-01','svg','grey sweater with white and black trim on sleeves')
    +feature('3','06','01','s03e05-02','s03e07-01','svg','olive sweater')
    +feature('3','07','01','s03e06-01','s03e07-02','svg','grey sweater with spikes down the sleeves')
    +feature('3','07','02','s03e07-01','s03e08-01','png','black sweater with rotweiller')
    +feature('3','08','01','s03e07-02','s03e08-02','svg','black sweater with narrow white stripes down center')
    +feature('3','08','02','s03e08-01','s03e09-01','svg','grey sweater with black and white color blocks')
    +feature('3','09','01','s03e08-02','s03e09-02','png','grey sweater with smoky pattern, skull and baseball')
    +feature('3','09','02','s03e09-01','s03e10-01','png','white sweater with sketchy stripes')
    +feature('3','10','01','s03e09-02','s03e10-02','svg','black sweater with ribbed chest')
    +feature('3','10','02','s03e10-01','s03e10-03','svg','grey sweater with scattered black birds')
    +feature('3','10','03','s03e10-02','s03e11-01','svg','black leather jacket')
    +feature('3','11','01','s03e10-03','s03e11-02','png','black camo sweater with black and white chevrons')
    +feature('3','11','02','s03e11-01','s03e11-03','svg','white t-shirt with text “DON’T”')
    +feature('3','11','03','s03e11-02','s03e12-01','svg','black sweater with circle of white stars')
    +feature('3','12','01','s03e11-03','s03e12-02','png','black sweater with gold medallions')
    +feature('3','12','02','s03e12-01','s03e12-03','svg','cream sweater with zebra pattern')
    +feature('3','12','03','s03e12-02','s03e13-01','svg','white t-shirt with vampire mouth')
    +feature('3','13','01','s03e12-03','s03e13-02','svg','black crewneck sweater')
    +feature('3','13','02','s03e13-01','s03e13-03','svg','black sweater with white heart')
    +feature('3','13','03','s03e13-02','s04e01-01','svg','black sweater with big white lightning bolt')

    +feature('4','01','01','s03e13-03','s04e02-01','png','tan sweater with cheetah print')
    +feature('4','02','01','s04e01-01','s04e02-02','svg','black sweater with script text “Parisien”')
    +feature('4','02','02','s04e02-01','s04e03-01','png','black sweater with organic spot pattern')
    +feature('4','03','01','s04e02-02','s04e03-02','svg','grey sweater with black square and two white X‘s')
    +feature('4','03','02','s04e03-01','s04e04-01','png','black sweater with symmetric flowers design')
    +feature('4','04','01','s04e03-02','s04e05-01','svg','black crew neck sweater')
    +feature('4','05','01','s04e04-01','s04e05-02','png','white knit sweater with black stripes')
    +feature('4','05','02','s04e05-01','s04e06-01','png','black sweater with paisley pattern')
    +feature('4','06','01','s04e05-02','s04e06-02','png','black sweater covered with white writing and fireworks')
    +feature('4','06','02','s04e06-01','s04e06-03','png','black sweater with red and orange fire pattern')
    +feature('4','06','03','s04e06-02','s04e07-01','svg','black sweater with text “NO TOUCH”')
    +feature('4','07','01','s04e06-03','s04e08-01','svg','black sweater with white radial geometric pattern')
    +feature('4','08','01','s04e07-01','s04e08-02','svg','black turtleneck')
    +feature('4','08','02','s04e08-01','s04e08-03','png','black sweater with two dobermans')
    +feature('4','08','03','s04e08-02','s04e09-01','svg','white bathrobe')
    +feature('4','09','01','s04e08-03','s04e10-01','svg','black leather sweater with white and red striped sleeves and white stars at the collar')
    +feature('4','10','01','s04e09-01','s04e10-02','svg','white sweater with text “WILD ALOOF REBEL”')
    +feature('4','10','02','s04e10-01','s04e11-01','svg','black zip-up jacket')
    +feature('4','11','01','s04e10-02','s04e12-01','png','black sweater with sliced Hercules imagery on the sleeves')
    +feature('4','12','01','s04e11-01','s04e13-01','png','black sweater with wings at the shoulders')
    +feature('4','13','01','s04e12-01','s04e13-02','svg','suit with pink bowtie')
    +feature('4','13','02','s04e13-01','s04e13-03','svg','cream chunky sweater with zigzag pattern')
    +feature('4','13','03','s04e13-02','s04e13-04','png','black sweater with glittery grey stripes')
    +feature('4','13','04','s04e13-03','s05e01-01','svg','grey sweater with bold zigzag pattern at chest')

    +feature('5','01','01','s04e13-04','s05e01-02','svg','slouchy grey pullover hoodie')
    +feature('5','01','02','s05e01-01','s05e02-01','png','white sweater with spray-painted black stars')
    +feature('5','02','01','s05e01-02','s05e02-02','png','white t-shirt with handwriting and bird')
    +feature('5','02','02','s05e02-01','s05e02-03','png','black cardigan with white palm trees pattern')
    +feature('5','02','03','s05e02-02','s05e03-01','svg','black sweater with cubes pattern')
    +feature('5','03','01','s05e02-03','s05e03-02','svg','white t-shirt with black stripes')
    +feature('5','03','02','s05e03-01','s05e03-03','png','grey knit sweater with frayed edges')
    +feature('5','03','03','s05e03-02','s05e04-01','svg','black pullover hoodie with three white racing stripes')
    +feature('5','04','01','s05e03-03','s05e04-02','svg','black sweater with radiating white lightning bolts')
    +feature('5','04','02','s05e04-01','s05e05-01','svg','black hoodie with text “POSSESSED”')
    +feature('5','05','01','s05e04-02','s05e05-02','svg','black sweater with lace-up sleeves')
    +feature('5','05','02','s05e05-01','s05e06-01','svg','white pajama shirt')
    +feature('5','06','01','s05e05-02','s05e07-01','png','black sweater with purple and white dyed bottom')
    +feature('5','07','01','s05e06-01','s05e08-01','svg','black sweater with bird')
    +feature('5','08','01','s05e07-01','s05e09-01','svg','black sweater with text “NONCHALANCE”')
    +feature('5','09','01','s05e08-01','s05e09-02','svg','white sweater with text “BEAUTY &”')
    +feature('5','09','02','s05e09-01','s05e10-01','svg','white and green baseball shirt with team logo “Cafe Tropical”')
    +feature('5','10','01','s05e09-02','s05e11-01','svg','grey sweater with black panther sleeves')
    +feature('5','11','01','s05e10-01','s05e11-02','svg','slouchy black sweater')
    +feature('5','11','02','s05e11-01','s05e12-01','svg','black sweater with geomeetric heart pattern and the text “I BELIEVE IN THE POWER OF LOVE”')
    +feature('5','12','01','s05e11-02','s05e13-01','svg','black sweater with white and red stripes')
    +feature('5','13','01','s05e12-01','s05e13-02','svg','black sweater with text “You First”')
    +feature('5','13','02','s05e13-01','s05e14-01','svg','black sweater with big, fuzzy black stripes')
    +feature('5','14','01','s05e13-02','s05e14-02','svg','black t-shirt')
    +feature('5','14','02','s05e14-01','s05e14-03','svg','black pullover hoodie with white laces up the center and hood')
    +feature('5','14','03','s05e14-02','s06e01-01','svg','black sweater with white embroidered roses at the chest')

    +feature('6','01','01','s05e14-03','s06e02-01','svg','black very-worn sweater with holes')
    +feature('6','02','01','s06e01-01','s06e02-02','svg','black t-shirt with “LOVER” over the pocket')
    +feature('6','02','02','s06e02-01','s06e02-03','png','cream hoodie with big fuzzy dots')
    +feature('6','02','03','s06e02-02','s06e03-02','svg','long sleeve black and white striped shirt with red heart with eyes at the chest')
    +feature('6','03','02','s06e02-03','s06e03-03','svg','black sweater with grey tiger stripes')
    +feature('6','03','03','s06e03-02','s06e04-01','svg','light blue oxford')
    +feature('6','04','01','s06e03-03','s06e05-01','svg','black sweater with glittery chest')
    +feature('6','05','01','s06e04-01','s06e05-02','svg','black sweater with growling dog and the text “BEWARE”')
    +feature('6','05','02','s06e05-01','s06e05-03','svg','black long sleeve shirt with ribbon down side')
    +feature('6','05','03','s06e05-02','s06e06-01','svg','black sweater with white and grey glittery detail around shoulders')
    +feature('6','06','01','s06e05-03','s06e06-02','svg','black sweater with oversized grey leopard print')
    +feature('6','06','02','s06e06-01','s06e07-01','png','white t-shirt with black square and black leather jacket')
    +feature('6','07','01','s06e06-02','s06e07-02','svg','black sweater with mauve geometric panel on front')
    +feature('6','07','02','s06e07-01','s06e08-01','svg','black sweater with dyed stripes at the bottom and text “DREAM ON” at chest')
    +feature('6','08','01','s06e07-02','s06e08-02','svg','black sweater with two thick white stripes and white star')
    +feature('6','08','02','s06e08-01','s06e09-01','svg','silver sweater')
    +feature('6','09','01','s06e08-01','s06e09-02','svg','black sweater with white tattoo artwork')
    +feature('6','09','02','s06e09-01','s06e09-03','svg','black sweater covered with eyeballs')
    +feature('6','09','03','s06e09-02','top','svg','black sweater with triangles of grey, white, and red color blocks')
