doctype html
html(lang='en')

  //- Variable block for page-specific info
  block vars

  head

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1, minimum-scale=1')

    meta(name='description', content=pageDescription)
    meta(name='author', content='Lynn Fisher')

    title #{pageTitle}

    link(rel='shortcut icon', href='/assets/images/favicon.png')

    link(rel='stylesheet', href='/assets/css/main.css')

    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Dress David Rose')
    meta(property='og:title', content='Dress David Rose')
    meta(property='twitter:title', content='Dress David Rose')
    meta(property='og:url', content='https://davidrose.style')
    meta(property='og:image', content='https://davidrose.style/assets/images/social.png')
    meta(property='og:image:secure_url', content='https://davidrose.style/assets/images/social.png')
    meta(property='twitter:image', content='https://davidrose.style/assets/images/social.png')
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='630')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@lynnandtonic')
    meta(name='twitter:creator', content='@lynnandtonic')

  body(class=bodyClass)

    block content

    script(type='text/javascript' src='/assets/js/gallery.js')
