doctype html
html(lang='en')

  //- Variable block for page-specific info
  block vars

  head

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1, minimum-scale=1')

    meta(name='description', content=pageDescription)
    meta(name='author', content='Lynn Fisher')

    title #{pageTitle}

    link(rel='shortcut icon', href='/assets/images/pizza-icon.png')

    link(rel='stylesheet', href='/assets/css/main.css')

    block scripts

  body

    block content

    script(type='text/javascript' src='/assets/js/gallery.js')
