/*--------------------------------------------------------------------
* $404
--------------------------------------------------------------------*/

.fourohfour
  min-height: auto
  height: 100vh
  padding:55vh 20px 20px
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  background: $black url('/assets/images/bolts.svg') no-repeat center -20px
  background-size: auto 50vh

  h1, p
    color: white

  h1
    font-size: 1.5em

  a
    border-bottom: 1px dotted
