/*--------------------------------------------------------------------
* $404
--------------------------------------------------------------------*/

.fourohfour
  min-height: auto
  height: 100vh
  padding: 20px
  text-align: center
  display: flex
  justify-content: center
  align-items: center

  h1, p
    color: white

  h1
    font-size: 2em
